svg {
  height:  75vh;
  width:   30vw;
  margin:  auto;
  display: block;
  overflow: visible;
}

#tail {
  -webkit-animation: wag .2s  infinite; 
  -moz-animation:    wag .2s  infinite;
  animation:         wag .2s  infinite; 
  
  -webkit-transform-origin: 6.5em 0em;
  -moz-transform-origin:    6.5em 0em; 
  transform-origin:         6.5em 0em;
  
  -webkit-animation-direction: alternate;
  -moz-animation-direction:    alternate;
  animation-direction:         alternate;
}


#eye-lids {
  -webkit-animation: blink 1s infinite;
  -moz-animation:    blink 1s infinite; 
  animation:         blink 1s infinite; 
  
  -webkit-animation-direction: alternate;
  -moz-animation-direction:    alternate;
  animation-direction:         alternate;
}

@keyframes wag {
  from {
    -webkit-transform: rotateY(0deg);
    -moz-transform:    rotateY(0deg);
    transform:         rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-180deg);
    -moz-transform:    rotateY(-180deg);
    transform:         rotateY(-180deg);
  }
}

@keyframes tilt-head {
  0%, 25% {
    -webkit-transform: rotatez(0deg);
    -moz-transform:    rotatez(0deg);
    transform:         rotatez(0deg);
  }
  75%, 100% {
    -webkit-transform: rotatez(45deg);
    -moz-transform:    rotatez(45deg);
    transform:         rotatez(45deg);
  }
}
/*needs some work*/
@keyframes blink {
  0%, 75% {
    -webkit-transform: translate(0px,0px);
    -moz-transform:    translate(0px,0px);
    transform:         translate(0px,0px);
  }
  100% {
    -webkit-transform: translate(.5em,1.1em);
    -moz-transform:    translate(.5em,1.1em);
    transform:         translate(.5em,1.1em);
  }
}
