#home { 
  background: url("background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#contact { 
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), 
  url("/static/images/contact.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  color: white;
}

.btn-large {
	color:white;
	margin:.75em;
	font-size: large;	
}

.social-buttons-div {
	padding-top: .5em;
}

#home-slider {
	height: calc(100% - 15px);
	top: 100%;
	text-align: center;
}

#home-slider h1 {
	padding-top: 3%;
	padding-bottom: 4%;
	font-family: fantasy;
}

#profile-pic {
	width: 100%;
}

#contact-info-div {
	padding: 12%;
}


#add_product_form {
	display: inline-block;
        border-radius: 5px;
	margin: auto;
	padding: 5%;
	background-color: #3498DB;
        color: white;
}

#add_product_div {
	padding: 4%;
	font-size: large;
}

#navigation {
	padding-bottom: 2%;
}


/*http://cssdeck.com/labs/css-only-pinterest-style-columns-layout*/
body {
	background-color: #f0f0f0;
	overflow-x: hidden; 
	overflow-y: auto;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#exit-button {
	position: relative;
	width: 4em;
	height: 4em;
	float: right;
	border-radius: 7px;
}

#exit-button:hover {
	background-color: #d9d9d9;
}

.button-text {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: xx-large;
	color: #737373;
}

#delete-button {
	margin-right: 1em;
	margin-bottom: 1em;
	float: right;
}

#logout-button {
        margin-right: 5em;
        margin-top: 2em;
	position: relative;
	width: 9em;
	height: 4em;
	float: right;
	border-radius: 7px;
}

#logout-button:hover {
	background-color: #d9d9d9;
}

#pin-columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

#featured-pin-div {
	text-align: center; 
}

#featured-pin {
	padding: 20px;
	max-width: 60%;
}

.pin {
	display: inline-block;
	text-align: center;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: box-shadow .2s ease;
	-moz-transition: box-shadow .2s ease;
	-o-transition: box-shadow .2s ease;
	transition: box-shadow .2s ease;
}

.pin:hover {
	box-shadow:0 0 1em grey;
	transition-delay: .15s;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}



@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

.navbar-inverse {
	background-color: #c0c0c0;
	border-color: #c0c0c0;
}

.navbar-inverse .navbar-brand {
	color: black;
} 

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: darkgrey;
}

.navbar-inverse .navbar-nav li a {
	color: black;
} 
