html,
body {
	height: 100%;
}

#home { 
  background: url("/static/images/hand_plane_web.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#contact { 
  /*
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), 
  url("/static/images/contact.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  height: calc(100% - 50px);
  color: white;
}

#about {
  /*
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ), 
  url("/static/images/portrait_jointer_web.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */
  height: calc(100% - 50px);
  color: white;
}

.about-p {
	margin-top: 2%;
	font-family: 'Open Sans', sans-serif;
	font-size: medium; 
}

#about-h1 {
	padding: 2%;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.btn-large {
	color:white;
	padding-left: 1.25em;
	font-size: large;	
}

.social-buttons-div {
	padding-top: .5em;
}

#home-slider {
	height: calc(100% - 50px);
	top: 100%;
	text-align: center;
	background-color: #dae5e8;
	overflow: hidden;
}

#home-slider h1 {
	padding-top: 3%;
	padding-bottom: 4%;
	font-family: 'Open Sans', sans-serif;
}

#home-slider div div div.col-md-4.col-md-offset-2 p {
	padding-top: 14%;
	font-family: "Open Sans";
	font-size: larger;
	text-align: left;
	color: rgb(46, 50, 55);
}

#logo {
	height: 50%;
}

#profile-pic {
	width: 100%;
}

#contact-info-div {
	padding-top: 30vh;
}


#add_product_form {
	display: inline-block;
        border-radius: 5px;
	margin: auto;
	padding: 5%;
	background-color: #3498DB;
        color: white;
}

#add_product_div {
	padding: 4%;
	font-size: large;
}

#navigation {
	padding-bottom: 2%;
}


/*http://cssdeck.com/labs/css-only-pinterest-style-columns-layout*/
body {
	background-color: #f0f0f0;
	overflow-x: hidden; 
	overflow-y: auto;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#exit-button {
	position: relative;
	width: 4em;
	height: 4em;
	float: right;
	border-radius: 7px;
}

#exit-button:hover {
	background-color: #d9d9d9;
}

.button-text {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);	
	font-size: xx-large;
	color: #737373;
}

#delete-button {
	margin-right: 1em;
	margin-bottom: 1em;
	float: right;
}

#logout-button {
        margin-right: 5em;
        margin-top: 2em;
	position: relative;
	width: 9em;
	height: 4em;
	float: right;
	border-radius: 7px;
}

#logout-button:hover {
	background-color: #d9d9d9;
}

#pin-columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	column-count: 3;
	column-gap: 15px;
}

#featured-pin-div {
	text-align: center; 
}

#featured-pin {
	padding: 20px;
	max-width: 60%;
}

.pin {
	display: inline-block;
	text-align: center;
	background: #FFF;
	border: 2px solid #FAFAFA;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	opacity: 1;
	
	-webkit-transition: box-shadow .05s ease-out;
	-moz-transition: box-shadow .05s ease-out;
	-o-transition: box-shadow .05s ease-out;
	transition: box-shadow .05s ease-out;
}

.pin:hover {
	box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #121529;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	color: #333;
	margin: 0;
	text-align: justify;
	padding: 0% 10% 5% 10%;
}



@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}

.navbar-inverse {
	background-color: #121529;
	border-color: #121529;
}

.navbar-inverse .navbar-brand {
	color: white;
} 

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: white;
	color: #121529;
}

.navbar-inverse .navbar-nav li a {
	color: white;
} 

#pin-columns a div h3 {
	color: darkred;
	font-family: 'Open Sans', sans-serif;
}

#featured-pin  h3 {
	color: darkred;
	font-family: 'Open Sans', sans-serif;
	padding-top: 1%;
}

.navbar-brand {
	font-family: 'Yellowtail', cursive;
}
