{% extends "base.html" %} 
{% block content %}
	<link rel="stylesheet" type="text/css" href="/static/ellie.css">
	<div id="about">
		<h1 id="about-h1">About</h1>
		<div class="row">
                        <div class="col-md-4 col-md-offset-1">
                        	<p class="about-p">My name is Luke Stack, and I am a bit of a hobbyist. Over the years those hobbies have included soccer, guitar, photography, snowboarding, fly-fishing, welding, and my personal favorite, woodworking. </p>
                	</div>		
    		</div>

		<div class="row">
                        <div class="col-md-4 col-md-offset-1">
				<p class="about-p">My obsession with woodworking first began in Fall 2012, when I was required to do my high school senior project. I chose to design and build a coffee table, which became my entertainment stand because of its size. I did this under the mentorship of my uncle, Roger Hamby.</p>
                	</div>		
    		</div>

		<div class="row">
                        <div class="col-md-4 col-md-offset-1">
				<p class="about-p">Since then, I have tried to pursue woodworking to varying degrees throughout college. My sophomore year, I took a bowl turning class through Appalachian State's Craft Enrichment Program, which I would later come to teach my last semester of college. However, taking Introduction to Fabrication with Phil Armstrong was by far the best experience I've had in college. I used this class as an opportunity to build my second major piece, a red oak end table. I also took Professor Armstrong's welding class in the Fall of 2017.</p>
                	</div>		
    		</div>
	</div>
	<style>
		body {
		  background: 
		    linear-gradient(
		      rgba(0, 0, 0, 0.45), 
		      rgba(0, 0, 0, 0.45)
		    ), 
		  url("/static/images/portrait_jointer_web.jpg") no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}
	</style>
{% endblock %}  
