<html>
  <head>
    <title>CAPSTONE</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//capstone.3pbq7qqhyk.us-east-1.elasticbeanstalk.com/static/style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="//capstone.3pbq7qqhyk.us-east-1.elasticbeanstalk.com/static/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//capstone.3pbq7qqhyk.us-east-1.elasticbeanstalk.com/static/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="//capstone.3pbq7qqhyk.us-east-1.elasticbeanstalk.com/static/bootstrap-social.css"/>
    <script src="https://use.fontawesome.com/5e879759ec.js"></script>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//capstone.3pbq7qqhyk.us-east-1.elasticbeanstalk.com/static/slick/slick.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="navigation">
	    <nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container-fluid">
			<div class="navbar-header">
			    <a class="navbar-brand" href="/">JLStack</a>
			</div>
			<ul class="nav navbar-nav">
			    {% if not session.logged_in %}
				    <li id="nav/"><a href="/">Home</a></li>
				    <li id="nav/about"><a href="/about">About</a></li>
			    {% endif %}
			    <li id="nav/gallery"><a href="/gallery">Gallery</a></li>
			    {% if session.logged_in %}
				<li id="nav/add"><a href="/add">Add</a></li>
				<li id="nav/logout"><a href="/logout">Logout</a></li>
			    {% endif %}
			    {% if not session.logged_in %}
			        <li id="nav/contact"><a href="/contact">Contact</a></li>
			    {% endif %}
			</ul>
		    </div>
	    </nav>
    </div>
    {% block content %} {% endblock %}
    <script> 
	document.addEventListener("DOMContentLoaded", function(event) { 
	  el = document.querySelectorAll("li[id=\"nav" + String(window.location.pathname) + "\"]")[0];
	  if (el) {
		  if (el.classList)
		      el.classList.add("active");
		  else
		      el.className += ' ' + "active";
	  }
	});
    </script>
  </body>
</html> 
