{% extends "base.html" %} 
{% block content %}
	<div id="contact">
	    <div class="row" id="contact-info-div">
	        <div class="col-md-5 col-md-offset-7">
	    		<h1>J. Luke Stack</h1>
			<div id="social-buttons-div">
				<a href= "https://www.facebook.com/luke.stack.39" type="button" title="facebook" class="btn-floating btn-large btn-fb"><i class="fa fa-facebook"></i></a>
				<a href= "https://www.linkedin.com/in/j-luke-stack-30462b53/" type="button" title="linkedin" class="btn-floating btn-large btn-li"><i class="fa fa-linkedin"></i></a>
				<a href= "https://www.instagram.com/jlstack1/" type="button" title="instagram" class="btn-floating btn-large btn-ins"><i class="fa fa-instagram"></i></a> 
				<a href= "https://github.com/jlstack" type="button" title="github" class="btn-floating btn-large btn-git"><i class="fa fa-github"></i></a>
				<a href= "/static/resume.pdf" type="button" title="resume" class="btn-floating btn-large btn-file"><i class="fa fa-file-text-o"></i></a>
			</div>
	    	</div>
	    </div>
	</div>
	<style>
		html, body {margin: 0; overflow: hidden}
	</style>
{% endblock %}  
