{% extends "base.html" %} 
{% block content %}
    <!-- Gotten from http://cssdeck.com/labs/css-only-pinterest-style-columns-layout -->
    <div id="wrapper">
        <div id="pin-columns">
            {% for p in products %}
		<a href="/pin/{{p.id}}">
                    <div class="pin" tabindex={{p.id}}>
                        <img src={{p.image_path}}>
                        <p>
                            <h3>{{p.name}}</h3><br/>
                        </p>
                    </div>
		</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}  
